body{
	margin: 0 auto;
	/*background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;*/
}
 
.container{
	width: auto;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(224, 224, 224, 10);
	margin-top: 100px;
}
/*prufstand*/
.containersmall{
	width: 305px;
	height: 370px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(224, 224, 224, 10);
	margin-top: 100px;
}
.btn-loginsmall{
	margin: 25px 0px 0px 150px;
	padding: 15px 50px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}
/*******************/
/*Test_Art*/
.containermed{
	width: 305px;
	height: 480px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(224, 224, 224, 10);
	margin-top: 100px;
}
/*******************/


.btn-login{
	margin: -80px 0px 0px 575px;
	padding: 15px 50px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}
h1 span{
	color:red;
	border:none;
	margin-top:70px;
	margin-left:10px;
}
#btn_save{
	margin-left:350px;
	margin-top:20px;
}
#bloc_content_anzeige span{
	padding:10px;
}
#content_title{
	border:none;
	margin-top:1px;
	width:15%;
	float:left;
	margin-left:20px;
}
#content_title span{
	padding:20px;
	font-size:20px;
	border-radius:20%;
	box-shadow:3px 3px 3px 3px skyblue;
}
#title_option{
	text-align:center;
	color:grey;
	background-color: rgba(224, 224, 224, 10);
}
#title_option ul li .list-group-item{
	text-align:center;
}