<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://raw.githubusercontent.com/JohnBlazek/codepen-resources/master/3d-carousel/css/stylesheet.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"  crossorigin="anonymous">
		<link rel="stylesheet" href="../css/designHome.css">
        <script src="../js/scriptHome.js"></script>
        <script src="../js/jquery.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>IEE Home</title>
    </head>
<body onload="loadAnzeigeMenu();">
    <div id="bannerMenu">
        <!-- navbar menu -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="">IEE Dashboard </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" id="liste_test_daten">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Test Daten Anlegen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();" id="link_algo">Algorithm</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();">Pruefstand</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();">Test art</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Unit Daten Anlegen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();">Batterie</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();">Modul</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="testMenuChoice();">Zelle</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadAnzeigeMenu();">Anzeige</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Test machen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> ? </a>
                </li>
              </ul>
              <div id="bloc_profil"class="fixed-right">Hello</div>
            </div>
          </nav>
        <!--      end banner Menu -->
    </div>
    <div id="bloc_content"></div>
</body>
</html>